@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 26px;
}

.row {
  width: 100%;
  max-width: 1390px;
  margin: 0 auto;
  align-items: center;
}

.header__logo-img {
  border-radius: 99px;
}

/* NAV */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav__links {
  display: flex;
  gap: 48px;
  font-size: 16px;
  letter-spacing: 1px;
}

.nav__link {
  list-style: none;
  transition: all ease 300ms;
}

.nav__link:hover {
  color: #ee6c4d;
}

.logo__container {
  display: flex;
  align-items: center;
  gap: 28px;
}

.header__name {
  font-size: 18px;
  letter-spacing: 1px;
  transition: all ease 300ms;
}

.header__name:hover {
  color: #ee6c4d;
}

/* landing */

#landing {
  height: 100vh;
  background-color: #e0fbfc;
}

.landing__text--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 184px;
}

.landing__title {
  text-align: center;
  font-size: 58px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  color: #111;
  font-weight: 800;
  margin-bottom: 24px;
}

.landing__para {
  color: #333;
  text-align: center;
  width: 100%;
  line-height: 1.6;
  max-width: 640px;
}

.landing__button {
  transition: all ease 300ms;
  cursor: pointer;
  margin-top: 24px;
  width: 258px;
  height: 60px;
  color: white;
  background-color: #293241;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.landing__button:hover {
  transform: translateY(-5%);
}

/* ABOUT */
#about {
  height: 100vh;
  background-color: #edfefe;

}

.aboutus__title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  margin-top: 64px;
  text-align: center;
  font-size: 38px;
  letter-spacing: 1.5px;
  margin-bottom: 12px;
}

.line {
  height: 8px;
  width: 44px;
  border-radius: 14px;
  background-color: #293241;
  margin-bottom: 24px;
}

.about__para {
  text-align: center;
  max-width: 940px;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.aboutus__wrapper {
  display: flex;
  margin-top: 84px;
}

.aboutus__left {
  width: 50%;
}

.aboutus__right {
  margin-left: 64px;
  max-width: 664px;
}

.aboutus__left--title {
  margin-bottom: 24px;
  font-size: 34px;
}

.aboutus__left--para {
  line-height: 2;
  max-width: 600px;
  color: #333;
}

.aboutus__right--title {
  font-size: 34px;
  margin-bottom: 24px;
}

.aboutus__skills--container {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  padding: 14px 24px;
  margin-bottom: 24px;
  margin-right: 24px;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
  transition: all ease 300ms;
}

.skill:hover {
  transform: scale(1.1);
  color: #ee6c4d;
}

.about__button {
  cursor: pointer;
  margin-top: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  border: none;
  background-color: #293241;
  color: white;
  height: 44px;
  width: 126px;
  transition: all ease 300ms;
}

.about__button:hover {
  transform: translateY(-5%);
}


/* Projects */

#projects {
  padding-bottom: 84px;
}

.projects__title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects__title {
  margin-top: 64px;
  text-align: center;
  font-size: 38px;
  letter-spacing: 1.5px;
  margin-bottom: 12px;
}

.line {
  height: 8px;
  width: 44px;
  border-radius: 14px;
  background-color: #293241;
  margin-bottom: 24px;
}

.projects__para {
  text-align: center;
  max-width: 940px;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
}


.projects__wrapper {
  margin-top: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects__text--wrapper {
  margin-left: 68px;
}

.projects__text--title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 28px;
}

.projects__text--para {
  margin-bottom: 24px;
  line-height: 2;
  color: #333;
}


.projects__button {
  cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    border: none;
    background-color: #293241;
    color: white;
    height: 44px;
    width: 126px;
    transition: all ease 300ms;
}


.projects__button:hover {
  transform: translateY(-5%);
}



/* CONTACT */

#contact {
  background-color: #e0fbfc;
}

.contact__title--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__title {
  margin-top: 64px;
  text-align: center;
  font-size: 38px;
  letter-spacing: 1.5px;
  margin-bottom: 12px;
}

.line {
  height: 8px;
  width: 44px;
  border-radius: 14px;
  background-color: #293241;
  margin-bottom: 24px;
}

.contact__para {
  text-align: center;
  max-width: 940px;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
}
